<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('报文实体列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>报文名称：</p>
                            <input type="text" name="messageName"/>
                        </li>
                        <li>
                            <p>报文格式：</p>
                            <select name="messageType" th:with="type=${@dict.getType('test_message_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <p>报文来源：</p>
                            <select name="messageRes" th:with="type=${@dict.getType('test_message_res')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <p>报文状态：</p>
                            <select name="status" th:with="type=${@dict.getType('status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="test:message:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editFull()"
               shiro:hasPermission="test:message:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="test:message:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="test:message:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('test:message:edit')}]];
    var removeFlag = [[${@permission.hasPermi('test:message:remove')}]];
    var messageTypeDatas = [[${@dict.getType('test_message_type')}]];
    var messageResDatas = [[${@dict.getType('test_message_res')}]];
    var statusDatas = [[${@dict.getType('status')}]];
    var prefix = ctx + "test/message";

    function selectById(interfaceId) {
        var interfaceName = '';
        $.ajax({
            url: ctx + 'test/interface/selectById/' + interfaceId,
            type: 'get',
            async: false,
            success: function (resp) {
                if (null == resp) {
                    return;
                }
                interfaceName = resp.interfaceName;
            },
            error: function () {
                $.modal.alertError('系统异常');
            }
        });
        return interfaceName;
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "报文实体",
            columns: [{
                checkbox: true
            },
                {
                    field: 'messageId',
                    title: '报文Id',
                    visible: false
                },
                {
                    field: 'messageName',
                    title: '报文名称'
                },
                {
                    field: 'messageType',
                    title: '报文格式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(messageTypeDatas, value);
                    }
                },
                {
                    field: 'messageRes',
                    title: '报文来源',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(messageResDatas, value);
                    }
                },
                {
                    field: 'interfaceId',
                    title: '所属接口',
                    formatter: function (value, row, index) {
                        //待优化 查询次数太多
                        return (selectById(value));
                    }
                },
                {
                    field: 'status',
                    title: '报文状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'createBy',
                    title: '创建人',
                    visible: false
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateBy',
                    title: '修改人',
                    visible: false
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    visible: false
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.messageId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.messageId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>