<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改用例集合')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-testcasebox-edit" th:object="${testCaseBox}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用例集名称：</label>
                <div class="col-sm-8">
                    <input name="boxName" th:field="*{boxName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control">[[*{description}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">包含的用例：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" onclick="selectCaseTable()" id="caseBoxName"
                           name="caseBoxName" readonly="true" th:value="*{caseBox}" />
                    <input class="form-control" type="hidden" id="caseBox" name="caseBox"/>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用例集状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" th:field="*{status}" value="1" required>
                        <label th:for="status" th:text="正常"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="status" th:field="*{status}" value="2" required>
                        <label th:for="status" th:text="禁止"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "testplatform/testcasebox";
        $("#form-testcasebox-edit").validate({
            focusCleanup: true
        });

        function selectCaseTable() {
            $.modal.open("选择用例", ctx + "testplatform/case/selectCaseTable")
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-testcasebox-edit').serialize());
            }
        }
    </script>
</body>
</html>