<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TestInterfaceInfoMapper">
    
    <resultMap type="TestInterfaceInfo" id="TestInterfaceInfoResult">
        <result property="interfaceId"    column="interface_id"    />
        <result property="interfaceName"    column="interface_name"    />
        <result property="interfaceChName"    column="interface_ch_name"    />
        <result property="requestUrl"    column="request_url"    />
        <result property="interfaceType"    column="interface_type"    />
        <result property="interfaceProtocol"    column="interface_protocol"    />
        <result property="requestType"    column="request_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTestInterfaceInfoVo">
        select interface_id, interface_name, interface_ch_name, request_url, interface_type, interface_protocol, request_type, status, create_by, create_time, update_by, update_time, remark from test_interface_info
    </sql>

    <select id="selectTestInterfaceInfoList" parameterType="TestInterfaceInfo" resultMap="TestInterfaceInfoResult">
        <include refid="selectTestInterfaceInfoVo"/>
        <where>  
            <if test="interfaceName != null  and interfaceName != ''"> and interface_name like concat('%', #{interfaceName}, '%')</if>
            <if test="interfaceChName != null  and interfaceChName != ''"> and interface_ch_name like concat('%', #{interfaceChName}, '%')</if>
            <if test="requestUrl != null  and requestUrl != ''"> and request_url = #{requestUrl}</if>
            <if test="interfaceType != null  and interfaceType != ''"> and interface_type = #{interfaceType}</if>
            <if test="interfaceProtocol != null  and interfaceProtocol != ''"> and interface_protocol = #{interfaceProtocol}</if>
            <if test="requestType != null  and requestType != ''"> and request_type = #{requestType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTestInterfaceInfoById" parameterType="Long" resultMap="TestInterfaceInfoResult">
        <include refid="selectTestInterfaceInfoVo"/>
        where interface_id = #{interfaceId}
    </select>
        
    <insert id="insertTestInterfaceInfo" parameterType="TestInterfaceInfo" useGeneratedKeys="true" keyProperty="interfaceId">
        insert into test_interface_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interfaceName != null  and interfaceName != ''">interface_name,</if>
            <if test="interfaceChName != null  and interfaceChName != ''">interface_ch_name,</if>
            <if test="requestUrl != null  and requestUrl != ''">request_url,</if>
            <if test="interfaceType != null  and interfaceType != ''">interface_type,</if>
            <if test="interfaceProtocol != null  and interfaceProtocol != ''">interface_protocol,</if>
            <if test="requestType != null  and requestType != ''">request_type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interfaceName != null  and interfaceName != ''">#{interfaceName},</if>
            <if test="interfaceChName != null  and interfaceChName != ''">#{interfaceChName},</if>
            <if test="requestUrl != null  and requestUrl != ''">#{requestUrl},</if>
            <if test="interfaceType != null  and interfaceType != ''">#{interfaceType},</if>
            <if test="interfaceProtocol != null  and interfaceProtocol != ''">#{interfaceProtocol},</if>
            <if test="requestType != null  and requestType != ''">#{requestType},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTestInterfaceInfo" parameterType="TestInterfaceInfo">
        update test_interface_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="interfaceName != null  and interfaceName != ''">interface_name = #{interfaceName},</if>
            <if test="interfaceChName != null  and interfaceChName != ''">interface_ch_name = #{interfaceChName},</if>
            <if test="requestUrl != null  and requestUrl != ''">request_url = #{requestUrl},</if>
            <if test="interfaceType != null  and interfaceType != ''">interface_type = #{interfaceType},</if>
            <if test="interfaceProtocol != null  and interfaceProtocol != ''">interface_protocol = #{interfaceProtocol},</if>
            <if test="requestType != null  and requestType != ''">request_type = #{requestType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where interface_id = #{interfaceId}
    </update>

    <delete id="deleteTestInterfaceInfoById" parameterType="Long">
        delete from test_interface_info where interface_id = #{interfaceId}
    </delete>

    <delete id="deleteTestInterfaceInfoByIds" parameterType="String">
        delete from test_interface_info where interface_id in 
        <foreach item="interfaceId" collection="array" open="(" separator="," close=")">
            #{interfaceId}
        </foreach>
    </delete>
    
</mapper>