<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TestCaseMapper">
    
    <resultMap type="com.ruoyi.test.domain.TestCase" id="TestCaseResult">
        <result property="caseId"    column="case_id"    />
        <result property="caseName"    column="case_name"    />
        <result property="interfaceId"    column="interface_id"    />
        <result property="parameterJson"    column="parameter_json"    />
        <result property="caseType"    column="case_type"    />
        <result property="status"    column="status"    />
        <result property="env"    column="env"    />
        <result property="firstRunTime"    column="first_run_time"    />
        <result property="lastRunTime"    column="last_run_time"    />
        <result property="runCount"    column="run_count"    />
        <result property="checkRuleFlag"    column="check_rule_flag"    />
        <result property="checkExpression"    column="check_expression"    />
        <result property="preActionId"    column="pre_action_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTestCaseVo">
        select case_id, case_name, interface_id, parameter_json, case_type, status, env, first_run_time, last_run_time, run_count, check_rule_flag, check_expression, pre_action_id, create_by, create_time, update_by, update_time, remark from test_case
    </sql>

    <select id="selectTestCaseList" parameterType="TestCase" resultMap="TestCaseResult">
        <include refid="selectTestCaseVo"/>
        <where>  
            <if test="caseName != null  and caseName != ''"> and case_name like concat('%', #{caseName}, '%')</if>
            <if test="interfaceId != null "> and interface_id = #{interfaceId}</if>
            <if test="caseType != null  and caseType != ''"> and case_type = #{caseType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="env != null  and env != ''"> and env = #{env}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectTestCaseById" parameterType="Long" resultMap="TestCaseResult">
        <include refid="selectTestCaseVo"/>
        where case_id = #{caseId}
    </select>
        
    <insert id="insertTestCase" parameterType="TestCase" useGeneratedKeys="true" keyProperty="caseId">
        insert into test_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseName != null  and caseName != ''">case_name,</if>
            <if test="interfaceId != null ">interface_id,</if>
            <if test="parameterJson != null  and parameterJson != ''">parameter_json,</if>
            <if test="caseType != null  and caseType != ''">case_type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="env != null  and env != ''">env,</if>
            <if test="firstRunTime != null ">first_run_time,</if>
            <if test="lastRunTime != null ">last_run_time,</if>
            <if test="runCount != null ">run_count,</if>
            <if test="checkRuleFlag != null  and checkRuleFlag != ''">check_rule_flag,</if>
            <if test="checkExpression != null  and checkExpression != ''">check_expression,</if>
            <if test="preActionId != null ">pre_action_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseName != null  and caseName != ''">#{caseName},</if>
            <if test="interfaceId != null ">#{interfaceId},</if>
            <if test="parameterJson != null  and parameterJson != ''">#{parameterJson},</if>
            <if test="caseType != null  and caseType != ''">#{caseType},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="env != null  and env != ''">#{env},</if>
            <if test="firstRunTime != null ">#{firstRunTime},</if>
            <if test="lastRunTime != null ">#{lastRunTime},</if>
            <if test="runCount != null ">#{runCount},</if>
            <if test="checkRuleFlag != null  and checkRuleFlag != ''">#{checkRuleFlag},</if>
            <if test="checkExpression != null  and checkExpression != ''">#{checkExpression},</if>
            <if test="preActionId != null ">#{preActionId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTestCase" parameterType="TestCase">
        update test_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseName != null  and caseName != ''">case_name = #{caseName},</if>
            <if test="interfaceId != null ">interface_id = #{interfaceId},</if>
            <if test="parameterJson != null  and parameterJson != ''">parameter_json = #{parameterJson},</if>
            <if test="caseType != null  and caseType != ''">case_type = #{caseType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="env != null  and env != ''">env = #{env},</if>
            <if test="firstRunTime != null ">first_run_time = #{firstRunTime},</if>
            <if test="lastRunTime != null ">last_run_time = #{lastRunTime},</if>
            <if test="runCount != null ">run_count = #{runCount},</if>
            <if test="checkRuleFlag != null  and checkRuleFlag != ''">check_rule_flag = #{checkRuleFlag},</if>
            <if test="checkExpression != null  and checkExpression != ''">check_expression = #{checkExpression},</if>
            <if test="preActionId != null ">pre_action_id = #{preActionId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where case_id = #{caseId}
    </update>

    <delete id="deleteTestCaseById" parameterType="Long">
        delete from test_case where case_id = #{caseId}
    </delete>

    <delete id="deleteTestCaseByIds" parameterType="String">
        delete from test_case where case_id in 
        <foreach item="caseId" collection="array" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </delete>
    
</mapper>