<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('工单列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="workorder-form">
                <div class="select-list">
                    <ul>
                        <li>
                            工单编号：<input type="text" name="workOrderNum"/>
                        </li>
                        <li>
                            工单名称：<input type="text" name="workOrderName"/>
                        </li>
                        <li>
                            工单类型：<select id="workOrderType" name="workOrderType" th:with="type=${@dict.getType('test_workorder_type')}">
                            <option value="">请选择</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <!-- 查询条件 name属性需要与数据库sql一致 -->
                            工单状态：<select id="status" name="status" th:with="type=${@dict.getType('test_workorder_status')}">
                            <option value="">请选择</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                    </ul>
                    <ul>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="test:workorder:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="test:workorder:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="test:workorder:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('test:workorder:edit')}]];
    var removeFlag = [[${@permission.hasPermi('test:workorder:remove')}]];
    var type = [[${@dict.getType('test_workorder_type')}]];
    //变量不要用一些特殊命名 如 status
    var datas = [[${@dict.getType('test_workorder_status')}]];
    var prefix = ctx + "test/workorder";


    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            //默认排序字段
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "工单",
            columns: [{
                checkbox: true
                },
                {
                    field: 'workOrderId',
                    title: '工单Id',
                    visible: false
                },
                {
                    field: 'workOrderNum',
                    title: '工单编号'
                },
                {
                    field: 'workOrderName',
                    title: '工单名称'
                },
                {
                    field: 'workOrderType',
                    title: '工单类型',
                    sortable: true,
                    align: 'center',
                    formatter: function (value) {
                        //回显样式
                        return $.table.selectDictLabel(type, value);
                    }
                },
                {
                    field: 'status',
                    title: '工单状态',
                    align: 'center',
                    formatter: function (value) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'startTime',
                    title: '开始时间'
                },
                {
                    field: 'endTime',
                    title: '结束时间'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'createBy',
                    title: '创建人',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.workOrderId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.workOrderId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>