<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('外部数据源维护列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>数据库标签：</p>
                                <select name="baseTag" th:with="type=${@dict.getType('outbase_tag')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>数据库类型：</p>
                                <select name="baseType" th:with="type=${@dict.getType('base_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>数据库IP：</p>
                                <input type="text" name="baseUrl"/>
                            </li>
                            <li>
                                <p>端口号：</p>
                                <input type="text" name="basePort"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="testplatform:outbaseconf:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="testplatform:outbaseconf:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="testplatform:outbaseconf:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="testplatform:outbaseconf:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('testplatform:outbaseconf:edit')}]];
        var removeFlag = [[${@permission.hasPermi('testplatform:outbaseconf:remove')}]];
        var baseTagDatas = [[${@dict.getType('outbase_tag')}]];
        var baseTypeDatas = [[${@dict.getType('base_type')}]];
        var prefix = ctx + "testplatform/outbaseconf";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "外部数据源维护",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'baseId', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'baseTag', 
                    title : '数据库标签',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(baseTagDatas, value);
                    }
                },
                {
                    field : 'baseType', 
                    title : '数据库类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(baseTypeDatas, value);
                    }
                },
                {
                    field : 'baseUrl', 
                    title : '数据库IP'
                },
                {
                    field : 'baseServicename', 
                    title : '服务名'
                },
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.baseId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.baseId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>